@import '../../global.scss';

.topbar{
   width:100% ; 
   height: 70px ;
   background-color: white;
   color: black;
   position: fixed;
   top: 0;
   z-index: 3;
   transition: all 1s ease;

   .wrapper{
       padding: 10px 30px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       
       .left{
           display: flex;
           align-items: center;

           .logo{
            font-size: 30px;
            font-weight: 700;
            text-decoration: none;
            color: inherit;
            margin-right: 40px;
           }
           
           .itemContainer{
               display: flex;
               align-items: center;
               margin-left: 30px;
               @include mobile{
                display: none;
            }
               .icon{
                   font-size: 18px;
                   margin-right: 5px;
               }

               span{
                   font-size: 15px;
                   font-weight: 400;
               }

            }
       }

       .right{

        .hamburger{
            width: 32px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span{
                width: 100%;
                height: 3px;
                background-color: black;
                transform-origin: left;
                transition: all 2s ease;
            }
        }
       }

   }

   &.active{
       background-color: rgba(0, 0, 0, 0.8);
       color: rgb(212, 175, 55);
       
        a span{
        transition: all 1s ease;
       color: rgb(212, 175, 55);

        }
       .hamburger{
           span{
                &:first-child{
                   background-color: rgb(212, 175, 55);
                   transform: rotate(45deg);
                }
                &:last-child{
                    background-color: rgb(212, 175, 55);
                    transform: rotate(-45deg);

                }
                &:nth-child(2){
                opacity: 0;
                }
           }
       }
   }
}